.msg-wrapper {
  height: 70vh;
}

.msg-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.msg-body {
  overflow-y: scroll;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.message {
  width: 100%;
}